* {
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-wrap: wrap;
}
#container div {
  background: white;
  border: 1px solid black;
  height: 40px;
  width: 80px;
  flex: auto;
}
