* {
    box-sizing: border-box;
}

html {
  height: 100vh;
}
#container {
    border-style: dotted;
    display: flex;
    flex-wrap: wrap;
    width: 43vw;
    height: 86.3vh;
    margin-left: 25%;
  }
#container div {
  background: white;
  border: 1px solid rgb(212, 212, 206);
  flex: none;
}

.button {
color: white;
background-color: black;
border-radius: 15%;
}
